$font-size-h1-mb: 1.5em;  //48px
$font-size-h2-mb: 1.35em;  //32px
$font-size-h3-mb: 1em; //24px
$font-size-h4-mb: .75em; //20px
$font-family-spaceEx: Arial, Helvetica, sans-serif;

$font-size-h1-dk: 2em;  //48px
$font-size-h2-dk: 1.5em;  //32px
$font-size-h3-dk: 1.25em; //24px
$font-size-h4-dk: 1em; //20px
$font-size-h5-dk: .75em; //20px

$spaceX-grey: #f2f2f2;
$spaceX-grey-light:#e9e7e8;
$spaceX-blue-dark: #4a5496;
$spaceX-blue-light: #8488b5;
$spaceX-white: #fff;
$spaceX-green-light: #c5e09b;
$spaceX-green-dark: #7cba01;